# Below is a list of Flobro team members' GitHub handles who are
# suggested reviewers for contributions to this repository.
#
# Use git ls-files '<pattern>' without a / prefix to see the list of matching files.

/.github/CODEOWNERS @cornips
/AUTHORS.md @cornips
/CODE_OF_CONDUCT.md @cornips
/CONTRIBUTING.md @cornips
/FUNDING.yml @cornips
/LICENSE @cornips
