	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/04/2018 22:26
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../assets/iconset/Flaticon.eot");
  src: url("../assets/iconset/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../assets/iconset/Flaticon.woff2") format("woff2"),
       url("../assets/iconset/Flaticon.woff") format("woff"),
       url("../assets/iconset/Flaticon.ttf") format("truetype"),
       url("../assets/iconset/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../assets/iconset/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 18px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-cogwheel:before { content: "\f100"; }
.flaticon-close:before { content: "\f101"; }
.flaticon-line:before { content: "\f102"; }
.flaticon-signs:before { content: "\f103"; }
.flaticon-mark:before { content: "\f104"; }
.flaticon-close-1:before { content: "\f105"; }
.flaticon-cogwheel-1:before { content: "\f106"; }
.flaticon-mark-1:before { content: "\f107"; }
.flaticon-signs-1:before { content: "\f108"; }
.flaticon-line-1:before { content: "\f109"; }
.flaticon-internet:before { content: "\f10a"; }
.flaticon-internet-1:before { content: "\f10b"; }
