.options-panel {
    position: absolute;
    right: 0px;
    top: 38px;
    background: blanchedalmond;
    padding: 25px;
}

.options-panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.options-panel ul li {
    margin-bottom: 10px;
}

.options-panel ul li:last-child {
    margin-bottom: 0;
}

.options-panel label {
    display: flex;
    align-items: center;
}

.options-panel .window-button {
    color: black;
}
.options-panel .window-button{
    width: 20px;
    margin-right: 10px;
}
.options-panel .window-button .icon {
    fill: black;
}
.options-panel hr {
    border: 0;
    border-bottom: 1px solid #e6b15d;
    margin-top: 25px;
}


/* Zoom controls */
.options-panel .zoom-controls {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    max-width: 120px;
}

.options-panel .zoom-controls .zoom-control {
    flex: 1 1;
    margin-right: 0;
}

.options-panel .zoom-controls .zoom-control:first-child,
.options-panel .zoom-controls .zoom-control:last-child {
    background: #ffffff;
}

.options-panel .zoom-controls .zoom-control:nth-child(2) {
    background: #fff2e0;
}


/* Toggle box */
.options-panel .toggle {
    transform: scale(0.55);
    transform-origin: left;
    margin-right: -14px;
}
.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    float: left;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}
.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}
.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(46, 140, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}
.toggle + span {
    float: left;
    margin-left: 5px;
}

.toggleBox {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    margin: 0;
}
.toggleBox:checked + .toggle:before {
    background: #92cdff;
}
.toggleBox:checked + .toggle span {
    background: #2e8cdc;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
.toggleBox:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}