:root {
    --action-bar-items: 8;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: transparent;
    text-rendering: geometricPrecision;
    font-family: sans-serif;
}

textarea {
    font-family: sans-serif;
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -37px;
    left: 5%;
    width: 90%;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #000;
    box-sizing: border-box;
    resize: none;
}
input {
    box-sizing: border-box;
}

div[hidden],
span[hidden],
*[hidden] {
    display: none !important;
}

a {
    color: #248bd2;
    text-decoration: none;
    border-bottom: 1px solid rgba(36, 139, 210,.5);
}

#WindowView {
    background: #636363;
}

.webview.background {
    transition: top .1s cubic-bezier(0.4,0.0,1,1);
}
.webview.resize.movedown {
    top: 38px;
    height: calc(100% - 38px);
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
}


/* BEGIN TITLE BAR */
.position {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999999;
    opacity: 1;
    transition: opacity .2s ease-out, top .2s ease-out;
    padding: 8px 10px;
    height: 22px;
    width: calc(100vw - 20px);
    background: #636363;
}

.position.fadein {
    opacity: 1;
}

.position.fadeout {
    opacity: 0;
    top: -38px;
}
.position.fadeout::after {
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}

.drag-handle {
    -webkit-app-region: drag;
    position: absolute;
    width: calc(100% - (var(--action-bar-items) * 33px));
    height: 100%;
    left: 0;
    top: 0;
}
.position.fadein .drag-handle {
    display: block;
}
.position.fadeout .drag-handle {
    display: none;
}

#document-title {
    pointer-events: none;
    line-height: 23px;
    font-size: 10pt;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - (var(--action-bar-items) * 33px) - 8px);
    float: left;
}
#document-favicon {
    pointer-events: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px 0 auto;
    position: relative;
    top: 3px;
    float: left;
}

.actions {
    float: right;
}

.actions .icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    transition: transform .3s ease-out, fill .3s ease-out;
}

.actions .window-button {
    float: left;
    color: white;
}

#pin-window-button.pinned {
    height: 23px !important;
}
#pin-window-button.pinned .icon {
    transform: rotate(45deg) translate(2px, 2px);
    fill: darkturquoise;
}

#minimize-window-button .icon {
    transform: translateY(6px);
}

.window-button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 100%;
    outline: 0;
    opacity: .8;
    display: inline-block;
    -webkit-transition: opacity .1s cubic-bezier(0.4,0.0,1,1);
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    float: left;
}

.window-button:nth-child(1n+2) {
    margin-left: 12px;
}
.window-button.ml-0 {
    margin-left: 0 !important;
}

.window-button:hover {
    opacity: 1;
    -moz-transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
    -webkit-transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
}
/* END TITLE BAR */
