#save-request-url {
    display: none;
}

.window-button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 100%;
    outline: 0;
    opacity: .9;
    display: inline-block;
    width: 25px;
    -webkit-transition: opacity .1s cubic-bezier(0.4,0.0,1,1);
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    pointer-events: all;
    float: left;
}

.window-button:hover {
    opacity: 1;
    -moz-transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
    -webkit-transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.button:hover {
    opacity: 1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

.panel-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 25px;
}

.position {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
	width: 50px;
    pointer-events: none;
    z-index: 99999999;
}

.position:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
}

.position.fadein {
    display: block;
    -webkit-animation: fadeInFromNone 0.2s ease-out;
}

.position.fadeout {
    display: block;
    opacity: 0;
    -webkit-animation: fadeOutToNone 0.2s ease-out;
}

@-webkit-keyframes fadeOutToNone {
    0% {
        display: block;
        opacity: 1;
    }

    99% {
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.move-right {
    float: right;
}

.move-right .window-button {
    float: left;
}

.webview {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}

.link {
    display: none;
    position: absolute;
    left: 1em;
    bottom: 1em;
    font-size: 12px;
    color: #1155cc;
    white-space: nowrap;
    right: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    height: 100%;
    background: transparent;
    text-rendering: geometricPrecision;
}

html {
    height: 100%;
}

textarea {
    font-family: sans-serif;
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -37px;
    left: 5%;
    width: 90%;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #000;
    box-sizing: border-box;
    resize: none;
}

label,
label *,
input,
button,
.button,
textarea,
select {
    -webkit-app-region: no-drag;
}

/*
 * BEGIN OptionsView
 */
#settings {
    padding: 1em;
    display: inline-block;
    min-width: 275px;
}
#settings h1:first-child {
    margin-top: 0;
}
#settings h1 {
    font-size: 100%;
    display: inline;
}
#settings div {
    display: inline;
}
#settings div[hidden] {
    display: none;
}

/* Alert */
div#alert {
    background-color: #ffcfcf;
    padding: .3em .5em;
    margin: .7em 0 0;
    display: inline-block;
    width: 95%;
}
div#alert p {
    margin: 0;
}
div#alert p:nth-child(2) {
    margin-top: .5em;
}
div#alert.tip {
    background-color: #f0e68c;
}

ul#settings-fields {
    list-style: none;
    padding: 0;
}
ul#settings-fields li {
    margin: .7em 0;
}

/* END OptionsView */
